body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --line-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.container {
    width: 90%;
    overflow: hidden;
    margin: auto;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

.hide-on-sm {
    display: none;
}

.hide-on-lg {
    display: block;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: none;
    outline: none;
}

.header-btn {
    display: none;
}


/* Header & Nav */

header {
    background: var(--white);
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
}

.header-content {
    padding: 1rem 0;
}

.header-content .logo img {
    width: 100px;
    float: left;
}

.toggle {
    float: right;
    padding-top: .2rem;
    position: relative;
    cursor: pointer;
}

.toggle img {
    width: 15px;
}

.toggle .close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    transition: all 0.5s;
}

.display .hamburger {
    display: none;
}

.display .close {
    display: block;
}

.sideNav {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: all 0.5s;
    overflow: hidden;
}

.sideNav-visible {
    height: 100%;
}

.sideNav .sideNav-content {
    background: var(--white);
    width: 90%;
    margin: 4rem auto;
    padding: 1rem 0;
    text-align: center;
    border-radius: 5px;
}

.sideNav .sideNav-content li {
    color: var(--dark-blue);
    padding: .5rem 0;
}

.sideNav .sideNav-content li:hover {
    color: var(--grayish-blue);
}


/* Main */

.main {
    background: url('./images/bg-intro-mobile.svg') no-repeat top right;
    background-color: var(--very-light-gray);
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.main-content {
    padding-top: 0rem;
    text-align: center;
    position: relative;
    top: -50px;
    width: 350px;
    margin: auto;
}

.main-content p {
    font-size: 15px;
}

.main-btn {
    color: var(--white);
    background: linear-gradient(to right, var(--line-green), var(--bright-cyan));
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.main-btn:hover {
    opacity: 0.6;
}

.attribution {
    font-size: 10px;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    color: var(--white);
    background: var(--dark-blue);
    border-top: solid 1px var(--very-light-gray);
}

.attribution a {
    color: var(--bright-cyan);
}


/* Section */

.section {
    padding: 4rem 0;
    width: 100%;
    text-align: center;
    background: var(--light-grayish-blue);
}

.section-content h1 {
    font-size: 45px;
    padding-bottom: 1rem;
    color: var(--dark-blue);
}

.section-content>p {
    font-size: 15px;
    color: var(--grayish-blue);
    padding-bottom: 2.5rem;
}

.section-content img {
    width: 80px;
    padding: 2.5rem 0;
}

.section-content .grid h3 {
    padding-bottom: 1rem;
    color: var(--dark-blue);
    font-size: 25px;
}

.section-content .grid p {
    font-size: 15px;
    color: var(--grayish-blue);
}


/* Articles */

.articles {
    padding: 4rem 0;
    width: 100%;
    background: var(--very-light-gray);
    text-align: center;
}

.articles-content h1 {
    font-size: 35px;
    padding-bottom: 2rem;
    color: var(--dark-blue);
}

.articles-content .grid .grid-2 {
    text-align: left;
    background: var(--white);
}

.articles-content .grid img {
    height: 150px;
}

.articles-content .grid small {
    display: block;
    padding: 1rem;
    color: var(--grayish-blue);
}

.articles-content .grid h3 {
    color: var(--dark-blue);
    padding: 0 1rem;
    font-size: 18px;
}

.articles-content .grid p {
    font-size: 13px;
    color: var(--grayish-blue);
    padding: .5rem 1rem 1.5rem 1rem;
}


/* Footer */

footer {
    padding: 4rem 0 2rem 0;
    color: var(--very-light-gray);
    background: var(--dark-blue);
}

footer .footer-content {
    text-align: center;
}

footer .footer-svg {
    margin-bottom: 2rem;
}

footer .icons li {
    display: inline;
    padding-left: .7rem;
    cursor: pointer;
}

.fill:hover {
    fill: var(--line-green) !important;
}

footer .link-1 {
    margin-top: 2rem;
}

footer .link-1 li,
.link-2 li {
    padding-bottom: 1rem;
    cursor: pointer;
}

footer .link-1 li:hover,
.link-2 li:hover {
    color: var(--line-green);
}

footer .btn-cpy .btn-footer {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    background: linear-gradient(to right, var(--line-green), var(--bright-cyan));
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

footer .btn-cpy .btn-footer:hover {
    opacity: 0.6;
}

footer .btn-cpy small {
    color: var(--grayish-blue);
}


/* Media Queries */

@media screen and (min-width: 400px) {
    .main {
        background: url('./images/bg-intro-mobile.svg') no-repeat top right;
        background-color: var(--very-light-gray);
        background-size: 100%;
        height: 100%;
        width: 100%;
    }
    .main-content {
        text-align: center;
    }
    .main-content h1 {
        padding-top: 2rem;
        font-size: 40px;
    }
    .section-content h1 {
        font-size: 50px;
    }
    .section-content>p {
        font-size: 20px;
    }
    .section-content .grid h3 {
        font-size: 30px;
    }
    .section-content .grid p {
        font-size: 20px;
        color: var(--grayish-blue);
    }
    .articles-content h1 {
        font-size: 40px;
    }
    .articles-content .grid img {
        height: 200px;
    }
    .articles-content .grid small {
        display: block;
        padding: 1rem;
        color: var(--grayish-blue);
        font-size: large;
    }
    .articles-content .grid h3 {
        color: var(--dark-blue);
        padding: 0 1rem;
        font-size: 25px;
    }
    .articles-content .grid p {
        font-size: 18px;
        color: var(--grayish-blue);
        padding: .5rem 1rem 1.5rem 1rem;
    }
}

@media screen and (min-width: 500px) {
    .main-content {
        width: 450px;
        margin: auto;
    }
    .main-content h1 {
        font-size: 55px;
        margin-bottom: 2rem;
    }
    .section-content h1 {
        font-size: 55px;
    }
    .section-content>p {
        font-size: 25px;
    }
    .section-content .grid h3 {
        font-size: 30px;
    }
    .section-content .grid p {
        font-size: 25px;
        color: var(--grayish-blue);
    }
    .articles-content h1 {
        font-size: 45px;
    }
    .articles-content .grid img {
        height: 220px;
    }
    .articles-content .grid small {
        display: block;
        padding: 1rem;
        color: var(--grayish-blue);
        font-size: large;
    }
    .articles-content .grid h3 {
        color: var(--dark-blue);
        padding: 0 1rem;
        font-size: 35px;
    }
    .articles-content .grid p {
        font-size: 25px;
        color: var(--grayish-blue);
        padding: .5rem 1rem 1.5rem 1rem;
    }
}

@media screen and (min-width: 600px) {
    .main-content {
        width: 550px;
        margin: auto;
    }
    .section-content h1 {
        font-size: 70px;
    }
    .section-content>p {
        font-size: 35px;
    }
    .section-content .grid img {
        width: 100px;
    }
    .section-content .grid h3 {
        font-size: 40px;
    }
    .section-content .grid p {
        font-size: 35px;
    }
    .articles-content h1 {
        font-size: 55px;
    }
    .articles-content .grid img {
        height: 300px;
    }
    .articles-content .grid small {
        display: block;
        padding: 1rem;
        color: var(--grayish-blue);
        font-size: large;
    }
    .articles-content .grid h3 {
        color: var(--dark-blue);
        padding: 0 1rem;
        font-size: 45px;
    }
    .articles-content .grid p {
        font-size: 30px;
        color: var(--grayish-blue);
        padding: .5rem 1rem 1.5rem 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        width: 80%;
    }
    .hide-on-sm {
        display: block;
    }
    .hide-on-lg {
        display: none;
    }
    .display .close {
        display: none;
    }
    header {
        background: var(--white);
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 60px;
    }
    .header-content {
        padding: 1rem 0;
    }
    .header-content .logo img {
        width: 150px;
        float: left;
        padding: .5rem 0;
    }
    .header-btn {
        display: inline;
        float: right;
        background: linear-gradient(to right, var(--line-green), var(--bright-cyan));
        color: var(--white);
        cursor: pointer;
        transition: opacity 0.5s ease-in-out;
    }
    .header-btn:hover {
        opacity: 0.6;
    }
    .header-content nav {
        text-align: center;
        margin: 0;
        padding: .5rem 0;
    }
    .header-content .nav li {
        display: inline;
        padding: 0 .5rem;
        color: var(--grayish-blue);
    }
    .header-content .nav a:hover {
        border-bottom: 2px solid var(--line-green);
        display: inline-block;
        padding-bottom: 1rem;
        color: var(--dark-blue)
    }
    .main {
        background: url('./images/bg-intro-desktop.svg') no-repeat;
        background-position: top 0px right -40%;
        background-size: 65% 110%;
        height: 450px;
        position: relative;
    }
    .main-content {
        padding-top: 0;
        text-align: left;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    .main-content img {
        position: relative;
        top: 0;
        right: -180px;
        width: 500px;
        height: 600px;
    }
    .main-content h1 {
        padding-top: 0;
        width: 350px;
        font-size: 45px;
    }
    .main-content p {
        width: 335px;
        line-height: 1.3;
        color: var(--grayish-blue);
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 1.5rem;
    }
    .section {
        padding: 4rem 0;
        text-align: left;
    }
    .section-content h1 {
        font-size: 37px;
        padding-bottom: 1rem;
    }
    .section-content>p {
        width: 600px;
        font-size: 18px;
        padding-bottom: 2.5rem;
    }
    .section-content .grid img {
        width: 70px;
        padding-bottom: 2.5rem;
    }
    .section-content .grid h3 {
        padding-bottom: 1rem;
        color: var(--dark-blue);
        font-size: 20px;
    }
    .section-content .grid p {
        font-size: 13px;
        color: var(--grayish-blue);
    }
    .articles {
        padding: 4rem 0;
        text-align: left;
    }
    .articles-content h1 {
        font-size: 36px;
        padding-bottom: 2rem;
    }
    .articles-content .grid .grid-2 {
        background: var(--white);
    }
    .articles-content .grid img {
        height: 150px;
    }
    .articles-content .grid small {
        display: block;
        padding: 1rem;
        font-size: initial;
        color: var(--grayish-blue);
    }
    .articles-content .grid h3 {
        color: var(--dark-blue);
        padding: 0 1rem;
        font-size: 15px;
    }
    .articles-content .grid p {
        font-size: 11px;
        color: var(--grayish-blue);
        padding: .5rem 1rem;
    }
    footer {
        padding: 4rem 0 2rem 0;
        color: var(--very-light-gray);
    }
    footer .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    footer .footer-svg {
        margin-bottom: 3rem;
    }
    footer .icons li {
        display: inline;
        margin-right: .7rem;
        cursor: pointer;
        padding-left: 0;
    }
    .fill:hover {
        fill: var(--line-green) !important;
    }
    footer .link-1 {
        margin-top: 0;
    }
    footer .link-1 li,
    .link-2 li {
        padding-bottom: 0.5rem;
    }
    footer .link-1 li:hover,
    .link-2 li:hover {
        color: var(--line-green);
    }
    footer .btn-cpy .btn-footer {
        float: right;
        margin-bottom: 1.5rem;
        background: linear-gradient(to right, var(--line-green), var(--bright-cyan));
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    footer .btn-cpy .btn-footer:hover {
        opacity: 0.6;
    }
    footer .btn-cpy small {
        float: right;
        color: var(--grayish-blue);
    }
    .attribution {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .main-content {
        padding-top: 0;
        text-align: left;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin: auto;
        overflow: hidden;
    }
    .main-content img {
        position: relative;
        top: 20px;
        right: -180px;
        width: 500px;
        height: 600px;
    }
    .main-content h1 {
        width: 400px;
        font-size: 45px;
    }
    .main-content p {
        width: 335px;
        color: var(--grayish-blue);
    }
    .section-content .grid h3 {
        padding-bottom: 1rem;
    }
    .section-content .grid p {
        font-size: 16.5px;
    }
    .articles-content .grid h3 {
        font-size: 18px;
    }
    .articles-content .grid p {
        font-size: 14px;
        color: var(--grayish-blue);
        padding: .5rem 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .main {
        height: 500px;
    }
    .main-content {
        padding-top: 0;
        text-align: left;
        overflow: hidden;
    }
    .main-content img {
        width: 500px;
        height: 650px;
    }
    .main-content h1 {
        width: 500px;
        font-size: 60px;
    }
    .main-content p {
        font-size: 20px;
        width: 455px;
        color: var(--grayish-blue);
    }
    .section-content h1 {
        font-size: 40px;
        padding-bottom: 1rem;
    }
    .section-content>p {
        width: 650px;
        font-size: 20px;
        padding-bottom: 2.5rem;
    }
    .section-content .grid h3 {
        font-size: 30px;
        padding-bottom: 1rem;
    }
    .section-content .grid p {
        font-size: 19px;
    }
    .articles-content h1 {
        font-size: 45px;
    }
    .articles-content .grid h3 {
        font-size: 20px;
    }
    .articles-content .grid p {
        font-size: 16.5px;
        color: var(--grayish-blue);
        padding: .5rem 1rem;
    }
}