:root {
  --card-color: hsl(233, 11%, 84%);
  --card-bg: hsl(235, 24%, 19%);
  --border: hsl(235, 19%, 35%);
  --completed-color: hsl(235, 19%, 35%);
  --mobile-header-bg: url('/src/assets/img/bg-mobile-dark.jpg') no-repeat center center/cover;
  --desktop-header-bg: url('/src/assets/img/bg-desktop-dark.jpg') no-repeat center center/cover;
  --header-color: hsl(0, 0%, 98%);
  --body-bg: hsl(235, 21%, 11%);
  --blue-bright: hsl(220, 98%, 61%);
  --check-bg: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /* Otehrs
  --v-dark-blue: hsl(235, 21%, 11%);
  --light-gray-blue: hsl(234, 39%, 85%);
  --hover-state: hsl(236, 33%, 92%);
  --v-dark-gray-blue-one: hsl(233, 14%, 35%);
  --v-dark-gray-blue-two: hsl(237, 14%, 26%); */
  /* --dark-gray-blue: hsl(234, 11%, 52%); */ 
  /* --v-dark-sat-blue: hsl(235, 24%, 19%); */
  /* --v-dark-gray-blue: hsl(235, 19%, 35%); */
  /* --blue-bright: hsl(220, 98%, 61%); */
  /* transition: all 0.5s ease; */
}
:root .light {
  --card-color: hsl(237, 14%, 26%);
  --card-bg: hsl(0, 0%, 98%);
  --border: hsl(236, 9%, 61%);
  --completed-color: hsl(236, 9%, 61%);
  --v-dark-gray-blue-one: hsl(233, 14%, 35%);
  --v-dark-gray-blue-two: hsl(237, 14%, 26%);
  --mobile-header-bg: url('/src/assets/img/bg-mobile-light.jpg') no-repeat center center/cover;
  --desktop-header-bg: url('/src/assets/img/bg-desktop-light.jpg') no-repeat center center/cover;
  --body-bg: hsl(236, 33%, 92%);
   /* --light-gray-blue: hsl(233, 11%, 84%); */
   /* --light-dark-gray-blue: hsl(236, 9%, 61%); */
   /* --v-dark-gray-blue: hsl(235, 19%, 35%); */
  /* transition: all 1s ease-in-out; */
}