body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--white) !important;
    background-color: var(--coral) !important;
    background: url('./images/bg-intro-mobile.png') no-repeat center center/cover;
}

:root {
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --coral: hsl(0, 100%, 74%);
    --white: hsl(0, 0%, 100%);
}


/* Global */

.showcase {
    text-align: center;
    margin-top: 4rem;
}

.text-head {
    font-size: 40px;
    font-weight: 700;
}

.try {
    background-color: #6055a5 !important;
    text-align: center;
    color: white;
    padding: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 5px #d86969;
    box-shadow: 0 5px #d86969;
}

.then {
    color: var(--grayish-blue);
}

input::placeholder {
    color: var(--dark-blue) !important;
}

.myForm {
    position: relative;
    text-align: center;
}

.card {
    text-align: center;
    border-radius: 10px !important;
}

.btn {
    background: #38cc8c !important;
    text-transform: uppercase;
    -webkit-box-shadow: 0 5px #2fb67c;
    box-shadow: 0 5px #2fb67c;
    border: none !important;
}

.btn:hover {
    opacity: 0.8;
}

.err {
    display: none;
    color: var(--coral);
    float: right;
    margin-bottom: 1rem;
}

.agree {
    color: var(--dark-blue);
}

.terms {
    color: var(--coral);
}

@media(min-width:768px) {
    body {
        background-color: var(--coral) !important;
        background: url('./images/bg-intro-desktop.png') no-repeat center center/cover;
    }
    .card {
        text-align: center;
    }
    .showcase {
        text-align: left;
    }
    .text-head {
        font-size: 45px;
        margin-top: 8rem;
    }
    .next-block {
        margin-top: 2rem;
    }
    footer {
        margin-top: 5rem;
    }
}

@media(min-width:1440px) {
    .showcase {
        text-align: left;
        margin-top: 10rem;
    }
    .text-head {
        font-size: 45px;
        margin-top: 9rem;
    }
    .next-block {
        margin-top: 2rem;
    }
    footer {
        margin-top: 10rem;
    }
}